* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #607d86;
}
.container {
	border-radius: 50%;
	position: relative;
	top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: red;
	filter: blur(3px);
}
.swapper{
	display: flex;
	width: 250px;
	height: 100px;
}
.swapper span{
	position: relative;
	width: 8px;
	height: 100px;
	background: #b33f3f;
	bottom: 50px;
	margin: 0 2px 0px;
	border-radius: 50%;
	animation: animate 5s linear infinite;
	filter: blur(8px);
	animation-delay: calc(var(--i) *  -0.5s);
}

@keyframes animate {
	0%{
		transform: translateY(0) scaleX(0);
		opacity: 0;
	}
	15%{
		opacity: 1;
	}
	50%{
		transform: translateY(-150px) scaleX(4);
	}
	95%{
		opacity: 0;
	}
	100%{
		transform: translateY(-400px) scaleX(10);
	}
	
}